.jumbotron {
  padding-top: 5rem;
  background-color: #ad98ff;
}

#Projects {
  background-color: #ad98ff;
}

footer {
  background-color: #ad98ff;
}

a {
  text-decoration: none;
}

i {
  color: #7917f9;
}

section {
  padding-top: 5rem;
}
